body {
  margin: 0;
}
form[id^="mw"],
#page-content form,
#editform {
  display: block;
}
.layout-threecol-left,
.layout-threecol-right {
  width: 100%;
}
.layout-threecol-left .panel,
.layout-threecol-right .panel {
  min-width: unset;
}
#wpTextbox1 {
  font-family: var(--bluelib-code-family) !important;
  font-weight: var(--bluelib-code-weight) !important;
  font-style: normal;
}
.printfooter {
  display: none;
}
.flexlet {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
}
.flexlet .flexlet-side {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 8px;
}
.flexlet .flexlet-left {
  margin-right: auto;
}
.flexlet .flexlet-right {
  margin-left: auto;
}
.flexlet li {
  display: block;
  margin: 0;
}
.new {
  color: rgb(var(--bluelib-broken-r), var(--bluelib-broken-g), var(--bluelib-broken-b)) !important;
  text-decoration-style: dotted !important;
}
.new * {
  color: rgb(var(--bluelib-broken-r), var(--bluelib-broken-g), var(--bluelib-broken-b)) !important;
}
.autocomment {
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.7) !important;
}
.autocomment * {
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.7) !important;
}
#pagehistory .selected {
  --bluelib-color-r: var(--bluelib-cyan-r);
  --bluelib-color-g: var(--bluelib-cyan-g);
  --bluelib-color-b: var(--bluelib-cyan-b);
  outline: none !important;
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.125) !important;
}
.catlinks {
  margin: 8px 0;
  padding: 8px;
  border-radius: 4px;
  width: 100%;
  min-width: 312px;
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.030);
  font-size: small;
}
.catlinks:empty {
  display: none;
}
.catlinks b {
  font-weight: 600;
}
.catlinks .mw-normal-catlinks {
  display: flex;
  flex-direction: row;
}
.catlinks .mw-normal-catlinks a[title="Special:Categories"] {
  font-weight: 600;
}
.catlinks .mw-normal-catlinks ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0 8px;
  gap: 6px;
}
.catlinks .mw-normal-catlinks ul li {
  display: block;
  margin: 0;
}
#namespaces {
  font-size: small;
}
.editOptions {
  margin-top: 12px;
}
.mw-parser-output h1,
.mw-parser-output h2,
.mw-parser-output h3,
.mw-parser-output h4,
.mw-parser-output h5,
.mw-parser-output h6 {
  text-align: left;
}
.mw-parser-output .mw-editsection {
  font-size: small;
  margin-left: 8px;
}
.mw-parser-output h1 .mw-editsection,
.mw-parser-output h2 .mw-editsection,
.mw-parser-output h3 .mw-editsection,
.mw-parser-output h4 .mw-editsection,
.mw-parser-output h5 .mw-editsection,
.mw-parser-output h6 .mw-editsection {
  visibility: hidden;
}
.mw-parser-output h1:hover .mw-editsection,
.mw-parser-output h2:hover .mw-editsection,
.mw-parser-output h3:hover .mw-editsection,
.mw-parser-output h4:hover .mw-editsection,
.mw-parser-output h5:hover .mw-editsection,
.mw-parser-output h6:hover .mw-editsection {
  visibility: visible;
}
.search-types .current a {
  color: rgb(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b));
  font-weight: 600;
}
.diff del,
.diff ins {
  color: rgb(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b)) !important;
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.030) !important;
}
.diff .diff-deletedline {
  --bluelib-color-r: var(--bluelib-red-r);
  --bluelib-color-g: var(--bluelib-red-g);
  --bluelib-color-b: var(--bluelib-red-b);
}
.diff .diff-addedline {
  --bluelib-color-r: var(--bluelib-lime-r);
  --bluelib-color-g: var(--bluelib-lime-g);
  --bluelib-color-b: var(--bluelib-lime-b);
}
.diff .diff-context {
  color: rgb(var(--bluelib-blue-r), var(--bluelib-blue-g), var(--bluelib-blue-b)) !important;
  background-color: transparent !important;
}
.toc {
  display: inline-block !important;
  border-radius: 4px !important;
  border-width: 2px !important;
  border-style: solid !important;
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.125) !important;
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.125) !important;
  padding: 8px !important;
}
.tocnumber {
  font-weight: 300 !important;
  text-decoration: none !important;
}
.toctext {
  font-weight: 500 !important;
}
.toctogglelabel {
  --bluelib-color-r: var(--bluelib-link-r) !important;
  --bluelib-color-g: var(--bluelib-link-g) !important;
  --bluelib-color-b: var(--bluelib-link-b) !important;
  text-decoration: underline !important;
}
.thumb {
  display: inline-block !important;
  border-radius: 4px !important;
  border-width: 2px !important;
  border-style: solid !important;
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.125) !important;
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.125) !important;
  padding: 4px !important;
}
.thumbcaption {
  margin-top: 8px !important;
  text-align: center !important;
}
i[class^="fas"],
i[class^="fab"],
i[class^="far"] {
  font-style: normal !important;
}
#mw-searchoptions,
.mw-search-profile-tabs {
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.030);
}
.oo-ui-layout,
.oo-ui-widget,
.oo-ui-dropdownWidget-handle {
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.125) !important;
}
.oo-ui-widget {
  background-color: transparent !important;
}
.mw-prefs-buttons,
.oo-ui-buttonElement-button,
.thumbborder {
  border-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.125) !important;
}
.oo-ui-dropdownInputWidget,
.oo-ui-dropdownWidget-handle,
.mw-prefs-buttons,
.oo-ui-menuOptionWidget {
  background-color: rgb(var(--bluelib-background-r), var(--bluelib-background-g), var(--bluelib-background-b)) !important;
}
.oo-ui-labelElement-label,
.oo-ui-buttonElement-button,
.thumbcaption {
  color: rgb(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b)) !important;
}
.oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button,
.thumbinner {
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.030) !important;
}
.oo-ui-buttonElement-framed.oo-ui-widget-disabled > .oo-ui-buttonElement-button {
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.030) !important;
  opacity: 0.3 !important;
}
.mw-rcfilters-ui-filterTagMultiselectWidget.oo-ui-widget-enabled .oo-ui-tagMultiselectWidget-handle,
.oo-ui-radioInputWidget,
.mw-changeslist-legend {
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.030) !important;
}
.editOptions,
.wpTextbox1 {
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.030) !important;
  border: 2px solid rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.125) !important;
  border-radius: 4px !important;
}
.wikiEditor-ui-view textarea:hover {
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.030) !important;
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1.000) !important;
}
.wikiEditor-ui-view textarea:focus {
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.030) !important;
  color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 1.000) !important;
}
.mw-changeslist-legend {
  background-color: rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.030) !important;
  border: 2px solid rgba(var(--bluelib-color-r), var(--bluelib-color-g), var(--bluelib-color-b), 0.125) !important;
  border-radius: 4px !important;
}
.mw-changeslist-links,
.mw-rollback-link {
  font-size: x-small !important;
}
.mw-changeslist-line {
  margin: 0 !important;
}
.mw-plusminus-pos {
  --bluelib-color-r: var(--bluelib-lime-r) !important;
  --bluelib-color-g: var(--bluelib-lime-g) !important;
  --bluelib-color-b: var(--bluelib-lime-b) !important;
  --bluelib-accent-r: var(--bluelib-lime-r) !important;
  --bluelib-accent-g: var(--bluelib-lime-g) !important;
  --bluelib-accent-b: var(--bluelib-lime-b) !important;
}
.mw-plusminus-neg {
  --bluelib-color-r: var(--bluelib-red-r) !important;
  --bluelib-color-g: var(--bluelib-red-g) !important;
  --bluelib-color-b: var(--bluelib-red-b) !important;
  --bluelib-accent-r: var(--bluelib-red-r) !important;
  --bluelib-accent-g: var(--bluelib-red-g) !important;
  --bluelib-accent-b: var(--bluelib-red-b) !important;
}
.mw-rollback-link {
  --bluelib-color-r: var(--bluelib-orange-r) !important;
  --bluelib-color-g: var(--bluelib-orange-g) !important;
  --bluelib-color-b: var(--bluelib-orange-b) !important;
  --bluelib-link-r: var(--bluelib-orange-r) !important;
  --bluelib-link-g: var(--bluelib-orange-g) !important;
  --bluelib-link-b: var(--bluelib-orange-b) !important;
}
.unpatrolled {
  --bluelib-color-r: var(--bluelib-orange-r) !important;
  --bluelib-color-g: var(--bluelib-orange-g) !important;
  --bluelib-color-b: var(--bluelib-orange-b) !important;
}
.minoredit {
  --bluelib-color-r: var(--bluelib-blue-r) !important;
  --bluelib-color-g: var(--bluelib-blue-g) !important;
  --bluelib-color-b: var(--bluelib-blue-b) !important;
}
.newpage {
  --bluelib-color-r: var(--bluelib-lime-r) !important;
  --bluelib-color-g: var(--bluelib-lime-g) !important;
  --bluelib-color-b: var(--bluelib-lime-b) !important;
}
.mw-changelist-separator::before {
  opacity: 0.2 !important;
}
.mw-usertoollinks::before,
.mw-usertoollinks span::before,
.mw-usertoollinks::after,
.mw-rollback-link::before,
.mw-rollback-link::after {
  opacity: 0.5 !important;
}
.mw-changelist-separator::before {
  content: "-" !important;
}
.mw-rollback-link::before {
  content: "(" !important;
}
.mw-rollback-link::after {
  content: ")" !important;
}
.wikiEditor-ui-toolbar,
.ui-dialog {
  --bluelib-color-r: 0 !important;
  --bluelib-color-g: 0 !important;
  --bluelib-color-b: 0 !important;
  --bluelib-accent-r: 0 !important;
  --bluelib-accent-g: 0 !important;
  --bluelib-accent-b: 0 !important;
}
#wikieditor-toolbar-table-dialog .wikieditor-toolbar-table-preview-wrapper {
  width: auto !important;
}
/*# sourceMappingURL=tweaks.css.map */